* {
  box-sizing: border-box;
}

header {
  max-width: 100vw;
  background: #333333;
  height: 120px;
  margin-bottom: 20px;
}

.nav-wrapper {
  float: right;
  background: #232323;
  margin-top: 35px;
  height: 50px;
  margin-right: 105px;
}

.name {
  float: left;
  margin-left: 135px;
}

.toparticle{
  background: #DEDEDE;
  float: left;
  width: 28%;
  margin-left: 135px;
  height: 300px;
}

.bigone {
  float: right;
  margin-right: 135px;
}

.articletexttop{
  color: #989898;
  /*border: solid 1px red;*/
  padding-left: 25px;
  padding-right: 25px;
}
h2, h3 {
  color: #989898;
}

h2{
  font-style: italic;
  font-size: 48px;
  text-align: center;
  /*border: solid 1px green;*/
  margin-top: 25px;
  font-weight: normal;
  margin-bottom: 0;
}

ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  margin-top: 0;
  /*border: solid 2px red;*/
}

.navLink, .tagline, h1 {
    color: #CCCCCC;
}

h1 {
  /*border: solid 2px blue;*/
  margin-bottom: 0;
  font-weight: normal;
}

.tagline {
  top: -10;
  /*border: solid 2px blue;*/
  margin-top: 0;
}

li {
  position: relative;
  list-style: none;
  display: block;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  /*border: solid 2px green;*/
  left: -20px;
}

.navLink {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  /*border: solid 2px blue;*/
  font-size: 12px;
  }

.readmore{
  color: #FF9200;
  float: right;
  margin-right: 25px;
  text-decoration: none;
}

.bottomarticle {
  float: left;
  position: relative;
  display: inline-block;
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 75px;
}

main {
  width: 100vw;
}

.littleone {
  margin-top: 4px;
  margin-left: 4px;
}

.articletextbottom{
  margin-left: 0;
  color: #989898;
}

.imagewrapper{
  height: 100px;
  width: 100px;
  /*border: solid 2px blue;*/
  float: left;
}

.bottomarticle:nth-of-type(2) {
  margin-left: 135px;
  /*border: solid 2px blue;*/
}

.bottomarticle:nth-of-type(4) {
  margin-right: 135px;
  /*border: solid 2px green;*/
}

.imageborder {
  height: 90px;
  width: 90px;
  float: left;
  border: solid 1px #989898;
}

footer {
  background: #232323;
  clear: both;
  width: 100vw;
  height: 60px;
}

.copyright {
  color: #696969;
  margin-left: 135px;
  padding-top: 20px;
}
